:root {
    --ln-ngin: rgba(13, 2, 2, 1);
    --x: rgba(178, 179, 179, 1);
    ---font-family: "CopperplateGothic Bold-Regular", Helvetica;
    ---font-weight: 400;
    ---font-size: 20px;
    ---letter-spacing: 0px;
    ---line-height: 23px;
    ---font-style: normal;
  }